{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}

<h1>{{film.titre }}</h1>
    <p>{{film.description }}</p>
    <p>{{ film.datesortie |date('d/m/Y')}}</p>
    <p>{{film.duree | date('h:m:s')}}</p>
    <p>{{film.realisateur }}</p>
    <h2>Projection </h2>
    <ul>
        {% for projection in film.projections %}
            <li>{{ projection.date | date('d/m/Y') }} {{ projection.heuredebut | date('h:m:s') }}</li>
        {% endfor %}



{% endblock %}
